Django==4.1
psycopg2-binary==2.9.5
graphene-django==3.0.0
celery[librabbitmq]===5.2.6
django-celery-results==2.3.1
requests==2.27.1
aiohttp==3.8.3
beautifulsoup4~=4.11.1
asgiref==3.5.2
pyppeteer==1.0.2
lxml==4.8.0
django-cors-headers==3.13.0